---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;
import "../styles/global.scss";
import "../styles/pages-styles/notes-content.scss";
import "../styles/pages-styles/notes-custom.scss";

const allNotes = Object.values(import.meta.glob('../pages/notes/*.mdx', { eager: true }));
---
<BaseLayout title={frontmatter.title} hideLangSwitcher={true}>
    <div class="main-content">

        <nav class="sidebar">
            <div class="sidebar-content">
                <ul>
                    {allNotes.map((note: any) => (
                        <li class={`sidebar-link ${note.frontmatter.title === frontmatter.title ? 'active-link' : ''}`}>
                            <a href={note.url}>{note.frontmatter.title}</a>
                        </li>
                    ))}
                </ul>
            </div>
        </nav>

        <main class="notes-content">
            <h1>{frontmatter.title}</h1>
            <p id="last-modified">Last Modified: {new Date().toLocaleDateString()}</p>
            <slot/>
        </main>
    </div>
</BaseLayout>