---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter, headings } = Astro.props;
import "../styles/global.scss";
import "../styles/pages-styles/notes-content.scss";
import "../styles/pages-styles/notes-custom.scss";
---
<BaseLayout title={frontmatter.title} hideLangSwitcher={true}>
    <div class="main-content">

        <nav class="sidebar">
            <div class="sidebar-content">
                <ul>
                    <li class={`sidebar-link ${Astro.url.pathname.startsWith('/notes/artificial-intelligence') ? 'active-link' : ''}`}>
                        <a href="/notes/artificial-intelligence">Artificial Intelligence</a>
                    </li>
                    <li class={`sidebar-link ${Astro.url.pathname.startsWith('/notes/c-programming') ? 'active-link' : ''}`}>
                        <a href="/notes/c-programming">C++ Programming</a>
                    </li>
                    <li class={`sidebar-link ${Astro.url.pathname.startsWith('/notes/computer-architecture') ? 'active-link' : ''}`}>
                        <a href="/notes/computer-architecture">Computer Architecture</a>
                    </li>
                    <li class={`sidebar-link has-sublink ${Astro.url.pathname.startsWith('/notes/data-structures-and-algorithms-1') ? 'active-link' : ''}`}>
                        <a href="/notes/data-structures-and-algorithms-1">Data Structures and Algorithms</a>
                        <button class="collapse-button" id="toggle-sublinks">⌵</button>
                    </li>
                    <div class="data-structures-and-algorithms-sublink">
                        <li class={`sidebar-link sub-link ${Astro.url.pathname.startsWith('/notes/data-structures-and-algorithms-2') ? 'active-link' : ''}`}>
                            <a href="/notes/data-structures-and-algorithms-2">Part 1</a>
                        </li>
                    </div>
                    <li class={`sidebar-link ${Astro.url.pathname.startsWith('/notes/database-system') ? 'active-link' : ''}`}>
                        <a href="/notes/database-system">Database System</a>
                    </li>
                    <li class={`sidebar-link ${Astro.url.pathname.startsWith('/notes/operating-system') ? 'active-link' : ''}`}>
                        <a href="/notes/operating-system">Operating System</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="notes-content">
            <h1>{frontmatter.title}</h1>
            <p id="last-modified">Last Modified: {new Date().toLocaleDateString()}</p>
            <slot/>
        </main>

        <aside class="right-sidebar">
            <div class="right-sidebar-content">
                <h3>Contents</h3>
                <ul>
                    {headings.filter(h => h.depth >= 2 && h.depth <= 4).map(h => (
                      <li>
                        <a href={`#${h.slug}`} class={h.depth === 2 ? 'second-heading' : h.depth === 3 ? 'third-heading' : 'fourth-heading'}>{h.text}</a>
                      </li>
                    ))}
                  </ul>
            </div>
        </aside>
    </div>
</BaseLayout>

<script src="../scripts/sublink.js"></script>